:root[data-theme='light'] {
    --color-fundo: #fafafa;
    --color-opcaoMenu: #5e4889;
    --sombra-menu: 2px 0 5px 0 rgba(0, 0, 0, 0.5);
    --sol-lua: #5e4889;
    --color-borderBottom: 1px solid rgba(0, 0, 0, 0.1);
    --color-cardP: #5e4889;
    --color-bottomHeader: #ccbbdd;
    --sombra-header: 0 5px 20px rgb(150 68 255 / 20%);
    --colo-fundoHeader: white;
    --fundo-scroll: #fafafa;
    --color-elemento-scroll: lightgray;
    --color-hr: #bc7cfc;
}

:root[data-theme='dark'] {
    /* --color-fundo: rgb(44, 42, 42); */
    --color-fundo: black;
    --fundo-scroll: black;
    --color-opcaoMenu: lightgray;
    /* --sombra-menu: 2px 0 5px 0 rgba(255, 255, 255, 0.418); */
    --sol-lua: white;
    --color-borderBottom: 1px solid rgb(100, 71, 189, 0.7);
    --color-cardP: lightgray;
    --color-bottomHeader: 1px solid rgb(100, 71, 189);
    /* --sombra-header: 0 5px 20px rgba(111, 66, 170, 0.603); */
    --colo-fundoHeader: black;
    --color-elemento-scroll: lightgray;
    /* --borda-menu:  1px solid rgb(100, 71, 189); */
    --sombra-menu: 2px 0 5px 0 rgb(100, 71, 189, 0.7);
    --color-hr: rgb(100, 71, 189, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;

}

body {
    flex: 1;
    background-color: var(--color-fundo);
    line-height: 1.6;
    user-select: none;
    -webkit-user-drag: none;
    overflow-x: hidden;
    --sidebar-width: 200px;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */

.header_logo {
    position: fixed;
    width: 100%;
    background-color: var(--colo-fundoHeader);
    border-bottom: var(--color-bottomHeader);
    box-shadow: var(--sombra-header);
    z-index: 3000;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.toggle-btn {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(4px);
    width: 30px;
    height: 25px;
    display: flex;
    border: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    top: 0;
    margin: 10px;
}


.toggle-btn span {
    height: 4px;
    background: white;
    filter: drop-shadow(1px 0 0 gray) drop-shadow(0 1px 0 gray) drop-shadow(-1px 0 0 gray) drop-shadow(0 -1px 0 gray);
    border-radius: 2px;
    display: block;
}

.toggle-btn-mobile {
    position: absolute;
    left: 0;
}

.veplex-logo {
    width: 100px;
    height: 50px;
    position: relative;
    filter: drop-shadow(1px 0 0 white) drop-shadow(0 1px 0 white) drop-shadow(-1px 0 0 white) drop-shadow(0 -1px 0 white)
}

.layout {
    display: flex;
}

.sidebar-wrapper {
    position: fixed;
    top: 50px;
    left: 0;
    height: 100%;
    padding-top: 20px;
    width: var(--sidebar-width);
    background-color: var(--color-fundo);
    transition: margin-left 0.3s ease;
    box-shadow: var(--sombra-menu);
    border-right: var(--borda-menu);
    z-index: 1000;
    overflow-y: scroll;
}

.sidebar-wrapper::-webkit-scrollbar {
    width: 8px;
    background-color:var(--fundo-scroll);
}

.sidebar-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--color-elemento-scroll);
    border-radius: 10px;
    min-height: 10px; 
}

body.sidebar-fechado .sidebar-wrapper {
    margin-left: calc(-1 * var(--sidebar-width));
    box-shadow: none;
}

body.sidebar-aberto .card {
    padding: 20px;
}


main#main-content {
    display: flex;
    padding: 0 auto;
    min-height: 100vh;
    transition: margin-left 0.3s ease;
    margin-left: var(--sidebar-width);
}


body.sidebar-fechado main#main-content,
body.sidebar-fechado .card,
body.sidebar-fechado .cardP {
    margin-left: 0;
    /* display: flex;
    flex-direction: row;
    width: 90%;
    padding: 20px;
    margin: 0 auto;
    left: 0; */
}

.header__toggle {
    position: absolute;
    align-items: center;
    top: 0;
    right: 0;
    margin-right: 10px;
}

.menu li {
    margin: 0;
    list-style-type: none;
    border-bottom: var(--color-borderBottom);
    padding: 15px;
    color: var(--color-opcaoMenu);
}

.card {
    position: absolute;
    top: 70px;
    justify-content: center;
    padding: 30px;
    /* box-shadow: 2px 0 30px rgba(0, 0, 0, 0.2); */

}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

hr {
    position: relative;
    background-color: var(--color-hr);
    height: 3px;
    width: 90%;
    margin: 20px;
    border: none;
}

.card_img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
}

.img_pages {
    width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cardP {
    position: relative;
    text-align: justify;
    width: 90%;
    color: var(--color-cardP);
    margin-bottom: 5px;
}

ul.lista-pages {
    margin-left: 35px;
}

.lista-pages li {
    margin-bottom: 10px;
}

.bi {
    color: var(--sol-lua);
    font-size: 25px;
}


.lightbox {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 1);
    justify-content: center;
    align-items: center;
    cursor: zoom-out;
}

.lightbox-content {
    max-width: 90%;
    max-height: 90%;
    border-radius: 12px;
    box-shadow: 0 0 8px white;
}

.close {
    position: absolute;
    top: 0px;
    right: 30px;
    font-size: 35px;
    color: white;
    cursor: pointer;
}

@media (max-width: 760px) {
    li {
        font-size: 12px;
    }

    body {
        --sidebar-width: 150px;
    }

    body.sidebar-fechado main#main-content,
    body.sidebar-fechado .card {
        padding: 0;
    }

    .cardP {
        font-size: 12px;
        padding: 10px;
    }


    .sidebar-wrapper {
        transition: transform 0.3s ease;
        z-index: 2000;
    }

    body.sidebar-aberto .card {
        padding: 10px;
    }

    main#main-content {
        margin-left: 0;
    }

    ul.lista-pages {
        margin-left: 25px;
    }


    .sidebar-wrapper::-webkit-scrollbar {
        width: 5px;
    }
}